In [1]:
import pandas as pd
import numpy as np

In [2]:
stores = pd.read_csv('stores.csv', sep=',',header='infer')

In [3]:
feature = pd.read_csv('features.csv', sep=',',header='infer')

storeType = np.zeros(len(feature))
feature.insert(1, "Type", storeType)
storeType = list(stores.Type)

newfeature = pd.DataFrame()

for store_num in range(len(stores.index)):
    temp = feature[feature.Store == store_num + 1] 
    temp.Type = storeType[store_num]
    newfeature = newfeature.append(temp)

feature = newfeature
feature

/usr/local/lib/python3.5/dist-packages/pandas/core/generic.py:3643: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

,Store,Type,Date,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,IsHoliday
0,1,A,2010-02-05,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,False
1,1,A,2010-02-12,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106,True
2,1,A,2010-02-19,39.93,2.514,NaN,NaN,NaN,NaN,NaN,211.289143,8.106,False
3,1,A,2010-02-26,46.63,2.561,NaN,NaN,NaN,NaN,NaN,211.319643,8.106,False
4,1,A,2010-03-05,46.50,2.625,NaN,NaN,NaN,NaN,NaN,211.350143,8.106,False
5,1,A,2010-03-12,57.79,2.667,NaN,NaN,NaN,NaN,NaN,211.380643,8.106,False
6,1,A,2010-03-19,54.58,2.720,NaN,NaN,NaN,NaN,NaN,211.215635,8.106,False
7,1,A,2010-03-26,51.45,2.732,NaN,NaN,NaN,NaN,NaN,211.018042,8.106,False
8,1,A,2010-04-02,62.27,2.719,NaN,NaN,NaN,NaN,NaN,210.820450,7.808,False
9,1,A,2010-04-09,65.86,2.770,NaN,NaN,NaN,NaN,NaN,210.622857,7.808,False
10,1,A,2010-04-16,66.32,2.808,NaN,NaN,NaN,NaN,NaN,210.488700,7.808,False
11,1,A,2010-04-23,64.84,2.795,NaN,NaN,NaN,NaN,NaN,210.439123,7.808,False
12,1,A,2010-04-30,67.41,2.780,NaN,NaN,NaN,NaN,NaN,210.389546,7.808,False
13,1,A,2010-05-07,72.55,2.835,NaN,NaN,NaN,NaN,NaN,210.339968,7.808,False
14,1,A,2010-05-14,74.78,2.854,NaN,NaN,NaN,NaN,NaN,210.337426,7.808,False
15,1,A,2010-05-21,76.44,2.826,NaN,NaN,NaN,NaN,NaN,210.617093,7.808,False
16,1,A,2010-05-28,80.44,2.759,NaN,NaN,NaN,NaN,NaN,210.896761,7.808,False
17,1,A,2010-06-04,80.69,2.705,NaN,NaN,NaN,NaN,NaN,211.176428,7.808,False
18,1,A,2010-06-11,80.43,2.668,NaN,NaN,NaN,NaN,NaN,211.456095,7.808,False
19,1,A,2010-06-18,84.11,2.637,NaN,NaN,NaN,NaN,NaN,211.453772,7.808,False
20,1,A,2010-06-25,84.34,2.653,NaN,NaN,NaN,NaN,NaN,211.338653,7.808,False
21,1,A,2010-07-02,80.91,2.669,NaN,NaN,NaN,NaN,NaN,211.223533,7.787,False
22,1,A,2010-07-09,80.48,2.642,NaN,NaN,NaN,NaN,NaN,211.108414,7.787,False
23,1,A,2010-07-16,83.15,2.623,NaN,NaN,NaN,NaN,NaN,211.100385,7.787,False
24,1,A,2010-07-23,83.36,2.608,NaN,NaN,NaN,NaN,NaN,211.235144,7.787,False
25,1,A,2010-07-30,81.84,2.640,NaN,NaN,NaN,NaN,NaN,211.369903,7.787,False
26,1,A,2010-08-06,87.16,2.627,NaN,NaN,NaN,NaN,NaN,211.504662,7.787,False
27,1,A,2010-08-13,87.00,2.692,NaN,NaN,NaN,NaN,NaN,211.639421,7.787,False
28,1,A,2010-08-20,86.65,2.664,NaN,NaN,NaN,NaN,NaN,211.603363,7.787,False
29,1,A,2010-08-27,85.22,2.619,NaN,NaN,NaN,NaN,NaN,211.567306,7.787,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8160,45,B,2013-01-04,32.87,3.592,1341.33,30325.14,8.93,35.85,3682.17,192.659622,8.625,False
8161,45,B,2013-01-11,38.78,3.611,3877.36,15559.85,3.81,152.18,2403.14,192.759980,8.625,False
8162,45,B,2013-01-18,41.45,3.605,14746.10,4071.06,4.02,483.58,1467.78,192.809507,8.625,False
8163,45,B,2013-01-25,26.49,3.583,3130.28,1362.10,0.20,332.68,1361.74,192.838701,8.625,False
8164,45,B,2013-02-01,34.92,3.615,14508.96,1092.53,827.90,26424.02,700.93,192.867895,8.625,False
8165,45,B,2013-02-08,28.99,3.753,53311.88,531.33,78.26,24823.94,3233.44,192.897089,8.625,True
8166,45,B,2013-02-15,35.87,3.814,9362.02,2017.68,0.36,5012.39,6411.71,192.943471,8.625,False
8167,45,B,2013-02-22,31.48,3.859,10781.51,2735.67,23.38,1516.76,3061.21,193.032822,8.625,False
8168,45,B,2013-03-01,39.72,3.890,6614.32,147.82,5.60,27.55,1668.95,193.122173,8.625,False
8169,45,B,2013-03-08,36.13,3.860,16382.54,88.67,34.62,3096.92,3486.91,193.211524,8.625,False
8170,45,B,2013-03-15,42.81,3.834,9867.03,NaN,11.08,912.87,1360.36,193.296277,8.625,False
8171,45,B,2013-03-22,36.55,3.800,11923.74,NaN,308.00,1764.47,1647.31,193.369533,8.625,False
8172,45,B,2013-03-29,40.68,3.784,5444.00,NaN,350.84,53.90,1722.11,193.442790,8.625,False
8173,45,B,2013-04-05,43.94,3.763,16427.83,5341.41,182.59,1523.83,1743.09,193.516047,8.335,False
8174,45,B,2013-04-12,57.39,3.724,8760.15,1713.11,21.08,1302.31,1380.74,193.589304,8.335,False
8175,45,B,2013-04-19,56.27,3.676,1399.81,39.89,44.38,60.83,1445.05,193.589304,8.335,False
8176,45,B,2013-04-26,50.64,3.615,1260.65,NaN,57.52,40.51,2476.18,193.589304,8.335,False
8177,45,B,2013-05-03,56.07,3.592,8345.40,6.00,92.96,3580.32,2242.24,NaN,NaN,False
8178,45,B,2013-05-10,58.86,3.583,4689.18,440.82,53.09,375.22,5738.20,NaN,NaN,False
8179,45,B,2013-05-17,60.59,3.614,4515.35,667.88,6.12,522.70,2541.62,NaN,NaN,False
8180,45,B,2013-05-24,67.11,3.627,3249.34,481.82,58.48,1183.23,1309.30,NaN,NaN,False
8181,45,B,2013-05-31,65.88,3.646,6474.49,411.38,77.06,9.38,4227.27,NaN,NaN,False
8182,45,B,2013-06-07,70.71,3.633,9977.82,744.29,80.00,4825.71,3597.34,NaN,NaN,False
8183,45,B,2013-06-14,70.01,3.632,2471.44,517.87,348.54,2612.33,3459.39,NaN,NaN,False
8184,45,B,2013-06-21,70.13,3.626,4989.34,385.31,178.56,2463.42,3117.94,NaN,NaN,False
8185,45,B,2013-06-28,76.05,3.639,4842.29,975.03,3.00,2449.97,3169.69,NaN,NaN,False
8186,45,B,2013-07-05,77.50,3.614,9090.48,2268.58,582.74,5797.47,1514.93,NaN,NaN,False
8187,45,B,2013-07-12,79.37,3.614,3789.94,1827.31,85.72,744.84,2150.36,NaN,NaN,False
8188,45,B,2013-07-19,82.84,3.737,2961.49,1047.07,204.19,363.00,1059.46,NaN,NaN,False
8189,45,B,2013-07-26,76.06,3.804,212.02,851.73,2.06,10.88,1864.57,NaN,NaN,False

In [4]:
train = pd.read_csv('train.csv', sep=',',header='infer')
train['Type'] = 'A'
train['Temperature'] = 0.0
train['Fuel_Price'] = 0.0
train['MarkDown1'] = 0.0
train['MarkDown2'] = 0.0
train['MarkDown3'] = 0.0
train['MarkDown4'] = 0.0
train['MarkDown5'] = 0.0
train['CPI'] = 0.0
train['Unemployment'] = 0.0

out = pd.DataFrame()
for i in range(150):
    print(i)
    day = feature.iloc[i]
    train.loc[(train.Date == day.Date) & (train.Store == day.Store), 'Type'] = day.Type
    train.loc[(train.Date == day.Date) & (train.Store == day.Store), 'Temperature']  = day.Temperature
    train.loc[(train.Date == day.Date) & (train.Store == day.Store), 'Fuel_Price']  = day.Fuel_Price
    train.loc[(train.Date == day.Date) & (train.Store == day.Store), 'MarkDown1']  = day.MarkDown1
    train.loc[(train.Date == day.Date) & (train.Store == day.Store), 'MarkDown2']  = day.MarkDown2
    train.loc[(train.Date == day.Date) & (train.Store == day.Store), 'MarkDown3']  = day.MarkDown3
    train.loc[(train.Date == day.Date) & (train.Store == day.Store), 'MarkDown4']  = day.MarkDown4
    train.loc[(train.Date == day.Date) & (train.Store == day.Store), 'MarkDown5']  = day.MarkDown5
    train.loc[(train.Date == day.Date) & (train.Store == day.Store), 'CPI'] = day.CPI
    train.loc[(train.Date == day.Date) & (train.Store == day.Store), 'Unemployment'] = day.Unemployment
    
train

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149

,Store,Dept,Date,Weekly_Sales,IsHoliday,Type,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment
0,1,1,2010-02-05,24924.50,False,A,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106
1,1,1,2010-02-12,46039.49,True,A,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106
2,1,1,2010-02-19,41595.55,False,A,39.93,2.514,NaN,NaN,NaN,NaN,NaN,211.289143,8.106
3,1,1,2010-02-26,19403.54,False,A,46.63,2.561,NaN,NaN,NaN,NaN,NaN,211.319643,8.106
4,1,1,2010-03-05,21827.90,False,A,46.50,2.625,NaN,NaN,NaN,NaN,NaN,211.350143,8.106
5,1,1,2010-03-12,21043.39,False,A,57.79,2.667,NaN,NaN,NaN,NaN,NaN,211.380643,8.106
6,1,1,2010-03-19,22136.64,False,A,54.58,2.720,NaN,NaN,NaN,NaN,NaN,211.215635,8.106
7,1,1,2010-03-26,26229.21,False,A,51.45,2.732,NaN,NaN,NaN,NaN,NaN,211.018042,8.106
8,1,1,2010-04-02,57258.43,False,A,62.27,2.719,NaN,NaN,NaN,NaN,NaN,210.820450,7.808
9,1,1,2010-04-09,42960.91,False,A,65.86,2.770,NaN,NaN,NaN,NaN,NaN,210.622857,7.808
10,1,1,2010-04-16,17596.96,False,A,66.32,2.808,NaN,NaN,NaN,NaN,NaN,210.488700,7.808
11,1,1,2010-04-23,16145.35,False,A,64.84,2.795,NaN,NaN,NaN,NaN,NaN,210.439123,7.808
12,1,1,2010-04-30,16555.11,False,A,67.41,2.780,NaN,NaN,NaN,NaN,NaN,210.389546,7.808
13,1,1,2010-05-07,17413.94,False,A,72.55,2.835,NaN,NaN,NaN,NaN,NaN,210.339968,7.808
14,1,1,2010-05-14,18926.74,False,A,74.78,2.854,NaN,NaN,NaN,NaN,NaN,210.337426,7.808
15,1,1,2010-05-21,14773.04,False,A,76.44,2.826,NaN,NaN,NaN,NaN,NaN,210.617093,7.808
16,1,1,2010-05-28,15580.43,False,A,80.44,2.759,NaN,NaN,NaN,NaN,NaN,210.896761,7.808
17,1,1,2010-06-04,17558.09,False,A,80.69,2.705,NaN,NaN,NaN,NaN,NaN,211.176428,7.808
18,1,1,2010-06-11,16637.62,False,A,80.43,2.668,NaN,NaN,NaN,NaN,NaN,211.456095,7.808
19,1,1,2010-06-18,16216.27,False,A,84.11,2.637,NaN,NaN,NaN,NaN,NaN,211.453772,7.808
20,1,1,2010-06-25,16328.72,False,A,84.34,2.653,NaN,NaN,NaN,NaN,NaN,211.338653,7.808
21,1,1,2010-07-02,16333.14,False,A,80.91,2.669,NaN,NaN,NaN,NaN,NaN,211.223533,7.787
22,1,1,2010-07-09,17688.76,False,A,80.48,2.642,NaN,NaN,NaN,NaN,NaN,211.108414,7.787
23,1,1,2010-07-16,17150.84,False,A,83.15,2.623,NaN,NaN,NaN,NaN,NaN,211.100385,7.787
24,1,1,2010-07-23,15360.45,False,A,83.36,2.608,NaN,NaN,NaN,NaN,NaN,211.235144,7.787
25,1,1,2010-07-30,15381.82,False,A,81.84,2.640,NaN,NaN,NaN,NaN,NaN,211.369903,7.787
26,1,1,2010-08-06,17508.41,False,A,87.16,2.627,NaN,NaN,NaN,NaN,NaN,211.504662,7.787
27,1,1,2010-08-13,15536.40,False,A,87.00,2.692,NaN,NaN,NaN,NaN,NaN,211.639421,7.787
28,1,1,2010-08-20,15740.13,False,A,86.65,2.664,NaN,NaN,NaN,NaN,NaN,211.603363,7.787
29,1,1,2010-08-27,15793.87,False,A,85.22,2.619,NaN,NaN,NaN,NaN,NaN,211.567306,7.787
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
421540,45,98,2012-04-06,778.70,False,A,0.00,0.000,0.0,0.0,0.0,0.0,0.0,0.000000,0.000
421541,45,98,2012-04-13,559.14,False,A,0.00,0.000,0.0,0.0,0.0,0.0,0.0,0.000000,0.000
421542,45,98,2012-04-20,605.80,False,A,0.00,0.000,0.0,0.0,0.0,0.0,0.0,0.000000,0.000
421543,45,98,2012-04-27,619.41,False,A,0.00,0.000,0.0,0.0,0.0,0.0,0.0,0.000000,0.000
421544,45,98,2012-05-04,694.25,False,A,0.00,0.000,0.0,0.0,0.0,0.0,0.0,0.000000,0.000
421545,45,98,2012-05-11,893.60,False,A,0.00,0.000,0.0,0.0,0.0,0.0,0.0,0.000000,0.000
421546,45,98,2012-05-18,745.44,False,A,0.00,0.000,0.0,0.0,0.0,0.0,0.0,0.000000,0.000
421547,45,98,2012-05-25,795.94,False,A,0.00,0.000,0.0,0.0,0.0,0.0,0.0,0.000000,0.000
421548,45,98,2012-06-01,874.64,False,A,0.00,0.000,0.0,0.0,0.0,0.0,0.0,0.000000,0.000
421549,45,98,2012-06-08,713.50,False,A,0.00,0.000,0.0,0.0,0.0,0.0,0.0,0.000000,0.000
421550,45,98,2012-06-15,856.35,False,A,0.00,0.000,0.0,0.0,0.0,0.0,0.0,0.000000,0.000
421551,45,98,2012-06-22,622.62,False,A,0.00,0.000,0.0,0.0,0.0,0.0,0.0,0.000000,0.000
421552,45,98,2012-06-29,690.52,False,A,0.00,0.000,0.0,0.0,0.0,0.0,0.0,0.000000,0.000
421553,45,98,2012-07-06,659.65,False,A,0.00,0.000,0.0,0.0,0.0,0.0,0.0,0.000000,0.000
421554,45,98,2012-07-13,695.21,False,A,0.00,0.000,0.0,0.0,0.0,0.0,0.0,0.000000,0.000
421555,45,98,2012-07-20,845.30,False,A,0.00,0.000,0.0,0.0,0.0,0.0,0.0,0.000000,0.000
421556,45,98,2012-07-27,657.63,False,A,0.00,0.000,0.0,0.0,0.0,0.0,0.0,0.000000,0.000
421557,45,98,2012-08-03,516.46,False,A,0.00,0.000,0.0,0.0,0.0,0.0,0.0,0.000000,0.000
421558,45,98,2012-08-10,727.49,False,A,0.00,0.000,0.0,0.0,0.0,0.0,0.0,0.000000,0.000
421559,45,98,2012-08-17,500.16,False,A,0.00,0.000,0.0,0.0,0.0,0.0,0.0,0.000000,0.000
421560,45,98,2012-08-24,415.40,False,A,0.00,0.000,0.0,0.0,0.0,0.0,0.0,0.000000,0.000
421561,45,98,2012-08-31,346.04,False,A,0.00,0.000,0.0,0.0,0.0,0.0,0.0,0.000000,0.000
421562,45,98,2012-09-07,352.44,True,A,0.00,0.000,0.0,0.0,0.0,0.0,0.0,0.000000,0.000
421563,45,98,2012-09-14,605.96,False,A,0.00,0.000,0.0,0.0,0.0,0.0,0.0,0.000000,0.000
421564,45,98,2012-09-21,467.30,False,A,0.00,0.000,0.0,0.0,0.0,0.0,0.0,0.000000,0.000
421565,45,98,2012-09-28,508.37,False,A,0.00,0.000,0.0,0.0,0.0,0.0,0.0,0.000000,0.000
421566,45,98,2012-10-05,628.10,False,A,0.00,0.000,0.0,0.0,0.0,0.0,0.0,0.000000,0.000
421567,45,98,2012-10-12,1061.02,False,A,0.00,0.000,0.0,0.0,0.0,0.0,0.0,0.000000,0.000
421568,45,98,2012-10-19,760.01,False,A,0.00,0.000,0.0,0.0,0.0,0.0,0.0,0.000000,0.000
421569,45,98,2012-10-26,1076.80,False,A,0.00,0.000,0.0,0.0,0.0,0.0,0.0,0.000000,0.000

In [6]:
train.loc[140:150, :]

,Store,Dept,Date,Weekly_Sales,IsHoliday,Type,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment
140,1,1,2012-10-12,22764.01,False,A,62.99,3.601,2086.18,NaN,8.11,602.36,5926.45,223.381296,6.573
141,1,1,2012-10-19,24185.27,False,A,67.97,3.594,950.33,NaN,4.93,80.25,2312.85,223.425723,6.573
142,1,1,2012-10-26,27390.81,False,A,69.16,3.506,2585.85,31.75,6.00,1057.16,1305.01,223.444251,6.573
143,1,2,2010-02-05,50605.27,False,A,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106
144,1,2,2010-02-12,44682.74,True,A,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106
145,1,2,2010-02-19,47928.89,False,A,39.93,2.514,NaN,NaN,NaN,NaN,NaN,211.289143,8.106
146,1,2,2010-02-26,44292.87,False,A,46.63,2.561,NaN,NaN,NaN,NaN,NaN,211.319643,8.106
147,1,2,2010-03-05,48397.98,False,A,46.50,2.625,NaN,NaN,NaN,NaN,NaN,211.350143,8.106
148,1,2,2010-03-12,43751.94,False,A,57.79,2.667,NaN,NaN,NaN,NaN,NaN,211.380643,8.106
149,1,2,2010-03-19,43615.49,False,A,54.58,2.720,NaN,NaN,NaN,NaN,NaN,211.215635,8.106
150,1,2,2010-03-26,41892.55,False,A,51.45,2.732,NaN,NaN,NaN,NaN,NaN,211.018042,8.106